doctype html 

html(lang="en-UK")

  head 
    title Todo App 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascript/application.js")

  body 
    header 
      h1 Todo Tracker 
      block headerLinks 

    main 
      - let msgTypes = Object.keys(flash || {});
      if msgTypes.length > 0
      ul
        each msgType in msgTypes 
          each message in flash[msgType]
            li.flash(class=type)= message

      block main

    footer 
      block signIn
        form(action="/users/signout" method="post")
          fieldset.actions
            p Signed in as #{username}.
            button Sign Out